.heading {
  &-1 {
    font-size: 4rem;
  }
  &-2 {
    font-size: 3rem;
    margin: 2rem;
    &--up {
      text-transform: uppercase;
    }
  }
  &-3 {
    font-size: 2rem;
  }
}

.text {
  &-1 {
    font-size: 2rem;
  }
  &-2 {
    font-size: 1.5rem;
  }
  &-3 {
    font-size: 1.2rem;
    &--cap {
      text-transform: capitalize;
    }
  }
}

.restaurant {
  &__menu {
    color: $color-restaurant;
    text-transform: uppercase;
  }

  &__category {
    text-transform: uppercase;
    color: $color-restaurant-light;
  }
}

.error-text {
  color: $color-error-text;
  font-size: 2rem;
}
