.about-me {
  font-size: $default-font-size;

  &__title {
    text-transform: uppercase;
  }
}

.my-picture {
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid #f5751c;
  border-radius: 25px;
}

.welcome-message {
  text-align: center;
  margin: 1rem 0;
}

.paragraph {
  margin: 1.5rem 0;
}
