.restaurant-admin {
  font-size: $default-font-size;

  &__header {
    text-align: right;

    & > .add-meal {
      border: none;
      background-color: $color-green;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }

  &__features {
    text-align: center;
    padding: 50% 0;
  }

  &__features-icon {
    & > button {
      border: none;
      padding: 1rem;
      border-radius: 0.5rem;
      margin: 1rem;
      width: 5rem;
    }
  }
  &__features-icon > .edit {
    background-color: $color-primary-500;
  }

  &__features-icon > .delete {
    background-color: red;
  }

  &__modal-title {
    font-size: $default-font-lg;
  }

  &__input-group {
    font-size: $default-font-size;
  }

  &__form-control {
    line-height: 2;
  }
}
