//////////////////////////////////
///Restaurant Cart
.restaurant-cart {
  &__card {
    display: grid;
    grid-template-columns:
      [list-start img-start] minmax(20rem, min-content)
      [img-end item-start] minmax(20rem, 1fr)
      [item-end price-start] minmax(15rem, min-content)
      [price-end amount-start] minmax(15rem, min-content)
      [amount-end subtotal-start] minmax(15rem, min-content)
      [subtotal-end list-end];

    //[full-start img-start] minmax(25rem, min-content) [img-end meal-detail-start] minmax(18rem, 1fr) [meal-detail-end] minmax(20rem, min-content) [full-end];
  }

  &__title {
    font-size: $default-font-xl;
    margin: 2rem 0;
  }

  &__list {
    margin-top: 1rem;

    border-radius: 1rem;
    border: 2px solid;
    padding: 1rem;
  }

  &__card.cart-title-item {
    border-radius: 1rem;
    border: 2px solid;
    padding: 1rem;
    background-color: $color-restaurant-dark;
    color: $color-white;

    & > * {
      text-align: center;
    }
  }

  &__price,
  &__subTotal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // &__details-container {
  //   background: transparent;
  //   margin: auto;
  //   display: block;
  // }

  &__summary {
    & > * {
      float: right;
      clear: right;
      padding: 1rem;
    }
    & > button {
      margin-top: 1rem;
    }
  }

  &__link-second {
    color: $color-restaurant-dark;
    transition: all 1s;
    font-weight: 700;
    &:hover {
      color: $color-primary-900;
    }
  }

  &__details {
    display: inline-block;
    margin-left: 2rem;
    position: relative;
  }

  &__meal-name {
    font-size: $default-font-xl;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
///////////////////////////////////////////

.img-box {
  border-radius: 1rem;
  width: 100%;
  display: block;
}

.meal-img {
  max-height: 100%;
  max-width: 100%;
}
