.restaurant-checkout {
  padding: 1rem;

  &__user-info {
    background-color: $color-restaurant-light;
    border: 0.2rem solid;
    padding: 1rem;
    margin: auto;
    width: 50%;
    border-radius: 1rem;
  }

  &__title {
    text-align: center;
    font-size: $default-font-xl;
  }
}

.checkout-price {
  text-align: end;
  padding: 1rem;
}
