.restaurant-checkout {
  padding: 1rem;

  &__user-info {
    background-color: $color-restaurant-light;
    border: 0.2rem solid;
    padding: 1rem;
    margin: auto;
    width: 50%;
    border-radius: 1rem;
  }

  &__title {
    text-align: center;
    font-size: $default-font-xl;
  }
}

.checkout-price {
  text-align: end;
  padding: 1rem;
}

.payment-completed {
  text-align: center;
  position: relative;

  > .title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: $default-font-xl;
    font-weight: 600;
  }
}
