.landing-page {
  min-height: 100vh;
}

.col-image-weather {
  background-image: url("../../projects/WeatherForecast/Images/weather.png");
  height: 45rem;
}

.col-image-restaurant {
  background-image: url("../../projects/Restaurant/images/restaurant.jpeg");
  height: 45rem;
}

.col-image-library {
  background-image: url("../../projects/LibraryApp/Images/library.jpeg");
  height: 45rem;
}

.project-demo {
  width: 100%;
  height: 45rem;
}
