.landing-page {
  min-height: 100vh;
  //   margin: 10rem 0;
}

.landing-page-hero {
  //   margin: 10rem 0;
}

.col-image-weather {
  background-image: url("../../projects/WeatherForecast/Images/weather.png");
  height: 45rem;
}

.col-image-restaurant {
  background-image: url("../../projects/Restaurant/images/restaurant.jpeg");
  height: 45rem;
}

.col-image-library {
  background-image: url("../../projects/LibraryApp/Images/library.jpeg");
  height: 45rem;
}
