.main-nav {
  background-color: $color-gray-900;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100;
  font-size: 1.8rem;

  &__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 2rem;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__list a {
    text-decoration: none;
    color: $color-primary-600;
  }

  &__list a:hover,
  &__list a.active {
    font-weight: bolder;
    color: $color-primary-900;
  }

  &__feature {
    color: #fff;
    border-radius: 0.5rem;
    background-color: transparent;
    border-color: #212529;
    border: transparent;
  }

  &__feature.button {
    color: $color-primary-600;
  }
  &__feature :hover {
    font-weight: bolder;
    color: $color-primary-900;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropdown-button {
    background-color: inherit;
    color: $color-primary-600;
    border: none;
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-gray-900;
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    & a {
      text-decoration: none;
      color: $color-primary-600;
      display: block;
      padding: 0.8rem 1rem;
    }
    & a:hover {
      background-color: $color-gray-600;
    }
  }
  &__dropdown:hover &__dropdown-content {
    display: block;
  }
  &__dropdown:hover &__dropdown-button {
    background-color: inherit;
  }
}
