/// HOME PAGE
.btn {
  font-size: 2rem;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-gray-900, 0.2);
    color: $color-primary-800;
    font-weight: 600;
  }
}

///////////////////////////////////////////
.btn-second {
  color: $color-primary-900;
  transition: all 0.5s;
  font-weight: 700;
  &:hover {
    color: $color-restaurant-dark;
  }
}

////////////////////////////////////////////
// WEATHER BUTTON
.clearfix {
  margin: 1rem;
  font-size: 2rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3rem;
  }
}

.button {
  font: inherit;
  border: 1px solid rgb(11, 194, 11);
  background: rgb(11, 194, 11);
  color: white;
  padding: 0.2rem 1rem;
  cursor: pointer;
  /* float: right; */
  border-radius: 4px;
}

.button:hover,
.button:active {
  background: rgb(2, 103, 2);
  border-color: rgb(2, 103, 2);
}

.button:focus {
  outline: none;
}

/* to seperate buttons in the feature column */
/* span .clearfix:not(:first-child) {
    margin-left: 0.5rem;
} */

button:disabled,
button:disabled:hover,
button.disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
