.menu-cards,
.admin-cards {
  display: grid;
  grid-column: center-start / center-end;
  margin: 5rem 0;

  grid-template-columns: repeat(4, minmax(25rem, 1fr));
  grid-gap: 7rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    grid-gap: 4rem;
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }
}

.menu-card,
.admin-card {
  display: grid;

  grid-template-rows:
    [card-start image-start] max-content
    [image-end name-start] min-content
    [name-end description-start] max-content
    [description-end price-start] min-content
    [price-end cta-start]min-content
    [cta-end card-end];

  align-self: start;

  &__meal-img {
    width: 100%;
  }

  &__meal-name {
    background-color: $color-restaurant-blue;
    padding: 0.5rem 0;
    text-align: center;

    color: $color-restaurant-yellow;
    font-size: $default-font-lg;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__description {
    padding: 1rem;
  }

  &__price {
    text-align: center;
    padding: 0.5rem;
    font-size: $default-font-lg;
  }

  &__cta-button {
    display: block;
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    background-color: $color-restaurant-yellow;
    color: $color-restaurant-blue;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__quantity-control.cart {
    padding: 45% 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  &__quantity-control.menu {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  &__quantity-control-button {
    background-color: $color-restaurant-light;
    margin: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.8rem;
    border: none;
    border-radius: 30%;

    font-size: $default-font-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(-1px);
      background-color: $color-restaurant-button-hover;
    }
  }

  &__cta-input {
    font-size: $default-font-size;
    width: 4rem;
    height: 3rem;
  }

  &__noti {
    font-size: $default-font-size;
    text-align: center;
    margin-top: 1rem;
  }
}

///////////////////////////////
/// ADMIN FEATURES BUTTONS
.admin-card {
  &__features {
    & > button {
      display: block;
      width: 100%;
      border: none;
      padding: 0.5rem 0;
    }
    & > .edit {
      background-color: $color-restaurant-yellow;
    }
    & > .delete {
      background-color: $color-error-text;
    }
  }
}

.bookings-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
}
