////////////////////////////////
/// RESTAURANT CARD
.restaurant {
  &__meal-card {
    border: 0.2rem solid $color-gray-300;
    padding: 0.5rem;
    background-color: $color-gray-300;

    border-radius: 20px;
    min-height: 20rem; // minmax(20rem, max-content);
    display: grid;
    grid-template-columns:
      [full-start img-start] minmax(25rem, min-content)
      [img-end meal-detail-start] minmax(18rem, 1fr)
      [meal-detail-end] minmax(20rem, min-content) [full-end];
  }

  &__meal-img-box {
    background: transparent;
    display: flex;
    & > * {
      border-radius: 1rem;
      width: 100%;
      display: block;
    }
  }

  &__meal-detail {
    border: 0.5rem solid $color-gray-300;
    margin-left: 2rem;
    font-family: "Open Sans", sans-serif;
    display: grid;

    & > .meal-name {
      font-size: $default-font-xl;
      text-transform: uppercase;
    }

    & > .meal-description {
      font-size: $default-font-lg;
    }
    & > .meal-price {
      font-size: $default-font-lg;
      text-align: right;
    }
  }

  &__cta {
    padding: 50% 0; // center the entire element
    display: inline-block;
    margin-left: 2rem;
  }

  &__quantity-control {
    text-align: center;
  }

  &__quantity-control-button {
    background-color: $color-restaurant-light;
    margin: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.8rem;
    border: none;
    border-radius: 30%;

    font-size: $default-font-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(-1px);
      background-color: $color-restaurant-button-hover;
    }
  }

  &__cta-input {
    font-size: $default-font-size;
    width: 4rem;
    height: 3rem;
  }

  &__cta-button {
    background-color: $color-restaurant-dark;
    color: $color-white;
    font-weight: 600;
    font-size: $default-font-size;

    //center the button
    display: block;
    margin: 0 auto;

    border: none;
    border-radius: 10%;
    padding: 0.5rem 1.2rem;
  }
}
