.restaurant {
  &__search {
    display: inline-block;
    position: relative;
    margin-left: auto;

    & > form > .input {
      height: 2.9rem;
      width: 20rem;
      margin-right: 2.9rem;
    }

    & > form > button {
      height: 2.9rem;
      width: 2.9rem;
      position: absolute;
      bottom: 0;
      right: 0;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-restaurant-light;

      :hover {
        color: $color-primary-900;
      }
    }

    & > button > svg {
      height: 2rem;
      width: auto;
    }
  }
}
