.restaurant-reservation {
  display: grid;
  grid-template-columns: minmax(20rem, 50rem) minmax(50rem, 1fr);

  @media only screen and (max-width: $bp-small),
    (max-width: $bp-medium),
    (max-width: $bp-large) {
    grid-template-columns: 1fr;
  }

  &__img {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
  }

  &__form-container {
    background-color: $color-gray-100;
    border-radius: 1rem;
    margin: 4rem 0;
    border-radius: 0.5rem;
    min-width: 100%;
  }

  &__title {
    font-size: $default-font-xl;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
  }

  &__form {
    padding: 5rem 0;
  }
}

.reservation-img {
  max-width: 100%;
  height: auto;
}
