.heading {
  &-1 {
    font-size: 4rem;
  }
  &-2 {
    font-size: 3rem;
    &--up {
      text-transform: uppercase;
    }
  }
  &-3 {
    font-size: 2rem;
  }
}

.text {
  &-1 {
    font-size: 2.2rem;
  }
  &-2 {
    font-size: 1.8rem;
  }
  &-3 {
    font-size: 1.5rem;
    &--cap {
      text-transform: capitalize;
    }
  }
}

.error-text {
  color: $color-error-text;
  font-size: 1.5rem;
}

.section-title {
  font-size: $default-font-xl;
  text-align: center;
  margin: 1rem 0;
  font-family: $font-display;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
