.search div input {
  width: fit-content;
}

.invalid div input {
  border: 1px solid $color-error;
  background-color: $color-primary-100;
}
.invalid div input:focus {
  border-color: $color-gray-800;
  background-color: $color-primary-300;
}
.error-text {
  color: $color-error;
  font-size: 2rem;
}
